INVENTORY MANAGEMENT SYSTEM 

importing the json file

In [1]:
import json

In [18]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [19]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

Now adding the elements inside the json file

In [20]:
prod_id = str(input("Enter product ID:"))
name = str(input("Enter Name:"))
pr = int(input("Enter Price:"))
qn = int(input("Enter Quantity:"))

record[prod_id]={"name": name , "pr": pr , "qn": qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product ID:1010
Enter Name:Jeans
Enter Price:800
Enter Quantity:6

In [21]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Jeans', 'pr': 800, 'qn': 6}}

With the same process , we can add many items in the record.json file

In [48]:
prod_id = str(input("Enter product ID:"))
name = str(input("Enter Name:"))
pr = int(input("Enter Price:"))
qn = int(input("Enter Quantity:"))

record[prod_id]={"name": name , "pr": pr , "qn": qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product ID:1030
Enter Name:Earphones
Enter Price:1500
Enter Quantity:4

In [49]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Jeans', 'pr': 800, 'qn': 6},
 '1011': {'name': 'Earings', 'pr': 150, 'qn': 15},
 '1012': {'name': 'Anklet', 'pr': 50, 'qn': 18},
 '1013': {'name': 'noodles', 'pr': 15, 'qn': 20},
 '1014': {'name': 'Chips', 'pr': 10, 'qn': 12},
 '1015': {'name': 'Brown-bread', 'pr': 5, 'qn': 3},
 '1016': {'name': 'Phone-case', 'pr': 400, 'qn': 8},
 '1017': {'name': 'Bottle', 'pr': 80, 'qn': 7},
 '1018': {'name': 'Chocolate', 'pr': 50, 'qn': 10},
 '1019': {'name': 'Batteries', 'pr': 10, 'qn': 20},
 '1020': {'name': 'Hairband', 'pr': 20, 'qn': 9},
 '1021': {'name': 'Paint', 'pr': 500, 'qn': 1000},
 '1022': {'name': 'Combiflame', 'pr': 1, 'qn': 100},
 '1023': {'name': 'Rubberbands', 'pr': 50, 'qn': 12},
 '1024': {'name': 'laptop-sleeve', 'pr': 250, 'qn': 5},
 '1025': {'name': 'Bedsheets', 'pr': 500, 'qn': 8},
 '1026': {'name': 'Heels', 'pr': 400, 'qn': 7},
 '1027': {'name': 'Photo-frames', 'pr': 70, 'qn': 17},
 '1028': {'name': 'Notebooks', 'pr': 50, 'qn': 8},
 '1029': {'name': 'Wall-clock', 'pr': 600, 'qn': 5},
 '1030': {'name': 'Earphones', 'pr': 1500, 'qn': 4}}